/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
  font-family: 'MyriadProLight';
  src: url('../fonts/MyriadProLight.otf');
}

* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  background-color: #0080e5;
    background-image: -webkit-linear-gradient(top , #005395, #0080e5);
    background-image: -moz-linear-gradient(top, #005395, #0080e5);
    background-image: -o-linear-gradient(top, , #005395, #0080e5);
    background-image: -ms-linear-gradient(top,  #005395, #0080e5);
    background-image: linear-gradient(to bottom,  #005395, #0080e5);
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	font-size:62.5%;
	height:100%
}
header{
	margin-bottom:1rem;
}
.logo {
    float:left; position:absolute; padding:1rem; top:0; left:0; float:left
}
/* Portrait layout (default) */
.app {
    background:url(../img/logo-schibsted.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.logo img {
	width:5rem;
	
}
.contact-list{
    clear:both;
}
.main-header{
	   font-family: "MyriadProLight";
        font-size: 2rem;
        color: white;
        text-align: right;
        padding: 2rem 0.5rem 0.5rem 2rem;
        margin-bottom: 5rem;
		float:right;
		margin-top:1rem;
}
.contact-header{
			font-family: "MyriadProLight";
		font-size: 2rem;
		border-bottom: 1px solid white;
		color: white;
		text-align: left;
		width: 20rem;
		padding: 2rem 0rem 0.5rem 1rem;
		margin-bottom: 0;
}
.contact-team{
		font-size: 1rem;
		color: white;
		text-align: left;
		width: 20rem;
		padding: 0 0rem 0.5rem 1rem;
		margin-bottom: 2rem;
		font-weight: normal;
}
.contact-photo {
		width: 10rem;
		height: 10rem;
		background-color: #005395;
		-webkit-box-shadow: 0 0 70px 25px rgba(255, 255, 255, .17);
		-moz-box-shadow: 0 0 70px 25px rgba(255,255,255,.17);
		box-shadow: 0 0 70px 25px rgba(255, 255, 255, .17);
		border: solid 2px #FFFFFF;
		margin: 0 auto;
		text-align:center;
        margin-top: 2rem;
		
}
.contact-photo img {
	display:block;
	max-width:100%;
	max-height:100%;
}
.contact-number {
	width:100%;
	text-align:center;
	font-size:2rem;
	color:white;
	 font-family: 'MyriadProLight';
}
.back-button{
	margin-left: 0.3rem;
}
.dialog-text {
	color:#fff;	
	font-size: 1.4em;
}
.ui-icon-delete {
	background: url(../img/clear_icon.png) no-repeat 0 0;
	height: 18px;
    width: 18px;
}
.update-btn {
	clear:both;	
}
.dialog-wrapper {
	overflow:hidden;
	margin-top:30%;
}
.ui-overlay-b{
	background:red;
}
